.app{
    font-family: sans-serif;
    position: relative;
}

/* ************************************** Nave bar ************************************** */

.nav{
    height: 90px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #ddd;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
}

.logo > svg{
    animation: logo 9s linear infinite;
}

.logo > h5{
    margin: 0;
    padding: 0;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-main);
    text-transform: uppercase;
}

.nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > ul > li{
    padding: 20px 30px;
    cursor: pointer;
}

.nav > ul > li > a{
    color: var(--word-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: .3s;
}

.nav > ul > li:hover > a{
    color: var(--primary-light);
}

.menu-icon{
    display: none;
}

.checkbox2 {
    display: none;
}

.toggle2 {
    position: relative;
    width: 45px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: var(--primary-main);
    border-radius: 6px;
}

.bar5 {
    transition-duration: .8s;
}

.bar4,.bar6 {
    width: 80%;
}

.checkbox2:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
}

.checkbox2:checked + .toggle2 .bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
}

.checkbox2:checked + .toggle2 .bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

.checkbox2:checked + .toggle2 .bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

.checkbox2:checked + .toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.menu{
    display: none;
}

@keyframes logo{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .nav{
        position: relative;
    }

    .menu-icon{
        display: block;
    }
    
    .nav > ul{
        display: none;
    }

    .logo{
        flex-direction: column;
        border: 2px solid var(--primary-main);
        border-radius: 50%;
        width: 70px;
        height: 70px;
        gap: 0;
        justify-content: space-evenly;
    }

    .logo > svg{
        width: 30px;
        height: 30px;
    }

    .logo > h5{
        font-size: 8px;
        text-align: center;
        width: 40px;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .menu > li{
        padding: 20px 30px;
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: flex-end;
    }
    
    .menu > li > a{
        color: var(--word-color);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        transition: .3s;
    }
    
    .menu > li:hover > a{
        color: var(--primary-light);
    }
    
}

/* ************************************** Home ************************************** */

.home{
    color: #fff;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(../assets/icons/back-ground.svg);
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 900px;
    width: 92%;
    text-align: center;
}

.home-content > h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: var(--title-color);
    font-weight: 800;
    margin-bottom: 30px;
}

.home-content > p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 30px;
}

.scroll-icon{
    position: absolute;
    bottom: 20px;
}

.scroll-down {
    --color: black;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.scroll-down::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scroll-down-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scroll-down-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevron-down {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevron-down:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevron-down:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@media (max-width: 768px){
    .home-content > h1{
        font-size: 35px;
    }

    .home-content > p{
        font-size: 16px;
    }
    .contact-nav{
        bottom: 20px;
    }
}

.contact-nav{
    position: absolute;
    left: 0;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
}

.contact-nav > a{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.github:hover > svg,
.linkedin:hover > svg,
.gmail:hover > svg,
.facebook:hover > svg{
    fill: white;
    transition: .2s;
}

.github:hover{
    background-color: var(--github-color);
    transition: .3s;
}

.linkedin:hover{
    background-color: var(--linked-in-color);
    transition: .3s;
}

.gmail:hover{
    background-color: var(--gmail-color);
    transition: .3s;
}

.facebook:hover{
    background-color: var(--facebook-color);
    transition: .3s;
}

.git:hover{
    background-color: var(--git-color);
    transition: .3s;
}

/* ************************************** About ************************************** */

.about{
    min-height: 100vh;
    background-color: var(--back-ground-color);
    padding-top: 100px;
}

.container{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.title{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--title-color);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.title::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-main);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.about > .container > p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.about-content > div > h3{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 25px;
    color: var(--title-color);
    font-weight: 700;
}

.about-content > div{
    width: 100%;
}

.about-info > p{
    font-size: 16px;
    color: var(--paragraph-color);
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.about-info > p > span{
    font-weight: bold;
}

.about-info > p > a{
    color: var(--primary-main);
    font-weight: bold;
}

.skills{
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.skill{
    padding: 10px 15px;
    border-radius: 5px;
    background: rgba(153,153,153,.2);
    color: #666 ;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.skill > .skill-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.skill::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
    z-index: 2;
}

.skill:hover::after{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/* .skill:hover{
    transform: translateY(-5px);
    transition: 1s;
} */

.skill:hover >.skill-icon{
    display: block;
    z-index: 4;
    transition: 1.3s;
}

.skill:hover >.skill-name{
    color: transparent;
}

.html:hover::after{
    background-color: var(--html-color);
}

.css:hover::after{
    background-color: var(--css-color);
}

.java-script:hover::after{
    background-color: var(--java-script-color);
}
.nodejs:hover::after{
    background-color: var(--node-color);
}
.expressjs:hover::after{
    background-color: var(--express-color);
}
.mongodb:hover::after{
    background-color: var(--mongodb-color);
}
.firebase:hover::after{
    background-color: var(--firebase-color);
}

.react:hover::after{
    background-color: var(--react-color);
}

.redux:hover::after{
    background-color: var(--redux-color);
}

.git:hover::after{
    background-color: var(--git-color);
}

.git-hub:hover::after{
    background-color: var(--github-color);
}

.java:hover::after{
    background-color: var(--java-color);
}

.cpp:hover::after{
    background-color: var(--cpp-color);
}

.problem-solving:hover::after{
    background-color: var(--gmail-color);
}

.responsive:hover::after{
    background-color: #009688;
}

.type-script:hover::after{
    background-color: var(--type-script-color);
}

@media (max-width: 768px){
    .about-content{
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .skills{
        margin-bottom: 40px;
    }
}

/* ************************************** Projects ************************************** */

.projects{
    min-height: 100vh;
    background-color: white;
    padding-top: 100px;
}

.projects > .container > p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.projects-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.project-image > img{
    width: 700px;
    height: 500px;
}

.project-info{
    margin-top: 100px;
}

.project-info > h3{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--title-color);
    font-weight: 700;
}

.project-info > p{
    font-size: 16px;
    color: var(--paragraph-color);
    line-height: 1.7;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.project-buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1100px){
    .project{
        grid-template-columns: 1fr;
    }
    .project-image > img{
        width: 400px;
        height: 300px;
    }    
    .project-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -80px;
        margin-bottom: 150px;
    }
    .project-info > p{
        text-align: center;
        max-width: 350px;
    }
}

/* ************************************** Contact ************************************** */

.contact{
    min-height: 100vh;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(../assets/icons/back-ground.svg);
    padding: 100px 0;
}

.contact > .container > p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 700px;
    margin: 0 auto 90px;
}

.contact > .container > form{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    max-width: 780px;
    width: 95%;
    text-align: right;
    margin: auto;
    padding: 40px;
    position: relative;
}

.contact > .container > form > :nth-child(1),
.contact > .container > form > :nth-child(2){
    margin-bottom: 40px;
}

.contact > .container > form > :nth-child(3){
    margin-bottom: 100px;
}

.contact > .container > form > :nth-child(4){
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.inactive-form::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 5px;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
}

@media (max-width: 1100px){
    .contact > .container > form > :nth-child(3){
        height: 200px !important;
    }
}

/* ************************************** Projects ************************************** */

.footer{
    background-color: black;
    color: white;
    padding: 0 100px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
}

.footer-info div:nth-child(1) > h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-info div:nth-child(1) > p{
    margin: 0;
    padding: 0;
    color: #eee;
    line-height: 1.7;
    width: 60%;
    font-size: 15px;
} 

.social > h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}

.social > div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.social > div > a{
    padding: 5px 8px;
    border-radius: 5px;
}

.copy-right{
    padding: 30px 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 12px;
    text-align: left;
    text-align: center;
}

.copy-right > span{
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 1100px){
    .footer{
        padding: 0 40px;
    }
    .footer-info div:nth-child(1) > p{
        width: 100%;
        margin-bottom: 50px;
    } 
}